openapi: 3.2.0
info:
  title: Takealot Seller Get a batch API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get a batch
paths:
  /v2/offers/batch/{batch_id}:
    get:
      operationId: get_batch_v2
      description: Query the current status of a batch, and view results if they are available
      summary: Get Batch Information (v2)
      parameters:
      - name: batch_id
        in: path
        description: The ID of the batch you have submitted, provided to you by Takealot
        required: true
        schema:
          type: string
      tags:
      - Get a batch
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2OfferBatch'
            text/csv:
              schema:
                $ref: '#/components/schemas/V2OfferBatch'
            application/pdf:
              schema:
                $ref: '#/components/schemas/V2OfferBatch'
            text/html:
              schema:
                $ref: '#/components/schemas/V2OfferBatch'
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Not Found Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    V2OfferLeadtimeStock:
      type: object
      properties:
        merchant_warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
    V2OfferBatch:
      type: object
      properties:
        batch_id:
          type: string
        status:
          type: object
          properties:
            description:
              type: string
            id:
              type: integer
        result:
          type: array
          items:
            type: object
            properties:
              validation_errors:
                type: array
                items:
                  type: object
                  properties:
                    message:
                      type: string
                    code:
                      type: string
              offer:
                type: object
                properties:
                  selling_price:
                    type: integer
                  rrp:
                    type: integer
                  leadtime_days:
                    type: integer
                  leadtime_stock:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2OfferLeadtimeStock'
                  stock_at_takealot:
                    type: array
                    items:
                      $ref: '#/components/schemas/V2OfferWarehouseStock'
                  status:
                    type: string
                  sku:
                    type: string
                  offer_id:
                    type: integer
    V2OfferWarehouseStock:
      type: object
      properties:
        warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
