openapi: 3.2.0
info:
  title: Takealot Seller sales summary API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: sales summary
paths:
  /{version}/sales/summary:
    get:
      operationId: get_sales_summary
      description: Get sales summary
      summary: Retrieve Information About Your Sales Summary Over Various Date Ranges
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      tags:
      - sales summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesSummaryResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/SalesSummaryResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/SalesSummaryResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/SalesSummaryResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    SalesSummaryResponse:
      type: object
      properties:
        sales_summary:
          type: array
          items:
            $ref: '#/components/schemas/SaleSummary'
    Error:
      type: object
      properties:
        fields:
          type: string
        message:
          type: string
        status:
          format: int32
          type: integer
    SaleSummary:
      type: object
      properties:
        date_range:
          type: string
        total:
          type: number
        quantity:
          type: integer
