swagger: '2.0'
info:
  title: Takealot Seller Create a batch view sales orders API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API. With this you will be able to manage your offers in an automated and scalable way.  Please ensure you have read the documentation for the Seller API, found at https://sellerportal.takealot.com/api, for an introduction and important information before attempting to use this API.  Please note that none of these requests are authorised if you are trying via the "try it out" button.  You will need to generate an API key and attach an Authorization header to each request in order to be correctly authorised against our API. This information can be found on the Seller Portal - https://seller.takealot.com/api/seller-api.  The below documentation describes each endpoint of the API.
  version: '2.0'
host: seller-api.takealot.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
- text/csv
- application/pdf
- text/html
tags:
- name: view sales orders
paths:
  /{version}/sales/orders:
    get:
      operationId: get_sales_orders
      description: Get sales orders based on filters passed through
      summary: Retrieve Information About Your Sales Orders On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: The major version of the API, prepended with a v (e.g. v1)
      - name: start_date
        in: query
        type: string
        description: The start date for filtering orders
        required: true
      - name: end_date
        in: query
        type: string
        description: The end date for filtering orders
        required: true
      - name: sku
        in: query
        type: string
        description: The SKU for filtering orders
      - name: product_title
        in: query
        type: string
        description: The product title for filtering orders
      - name: tsin
        in: query
        type: integer
        description: The TSIN for filtering orders
      - name: order_id
        in: query
        type: integer
        description: The order ID for filtering orders
      - name: page_number
        in: query
        type: integer
        description: The page number to retrieve (starting at 1)
      - name: page_size
        in: query
        type: integer
        description: The number of sales per page. Limited to 100.
      tags:
      - view sales orders
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ViewSalesOrdersResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /{version}/sales/orders/{order_id}/customer_invoices:
    get:
      operationId: get_sales_order_customer_invoices_credit_notes
      description: Get sales orders based on filters passed through
      summary: Retrieve Information About Your Sales Orders On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: The major version of the API, prepended with a v (e.g. v1)
      - name: order_id
        in: path
        type: integer
        description: The start date for filtering orders
        required: true
      tags:
      - view sales orders
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CustomerInvoicesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      fields:
        type: string
      message:
        type: string
      status:
        format: int32
        type: integer
  Sale:
    type: object
    properties:
      shipment_id:
        type: integer
        x-nullable: true
      shipment_state_id:
        type: integer
        x-nullable: true
      po_number:
        type: integer
        x-nullable: true
      shipment_name:
        type: string
        x-nullable: true
      offer_id:
        type: integer
      product_title:
        type: string
      takealot_url_mobi:
        type: string
      sku:
        type: string
      tsin:
        type: integer
      order_id:
        type: integer
      order_item_id:
        type: integer
      quantity:
        type: integer
      selling_price:
        type: number
      dc:
        type: string
      customer_dc:
        type: string
      order_date:
        type: string
      sale_status:
        type: boolean
      promotion:
        type: boolean
        x-nullable: true
      customer:
        type: string
      stock_source_region:
        type: string
  ViewSalesOrdersResponse:
    type: object
    properties:
      page_summary:
        $ref: '#/definitions/PageSummary'
      sales:
        type: array
        items:
          $ref: '#/definitions/Sale'
  CustomerInvoicesResponse:
    type: object
    properties:
      documents:
        type: array
        items:
          type: object
          properties:
            document_id:
              type: integer
            document_date:
              type: string
            document_type:
              type: string
            document_reason:
              type: string
            file_name:
              type: string
            downloadable:
              type: boolean
  PageSummary:
    type: object
    properties:
      page_size:
        type: integer
      page_number:
        type: integer
      total:
        type: integer
