openapi: 3.2.0
info:
  title: Takealot Seller Get an offer API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get an offer
paths:
  /v2/offers/offer/{identifier}:
    get:
      operationId: get_offer_by_identifier_v2
      description: Retrieve information about an individual offer by providing an identifier for the offer
      summary: Get An Offer (v2)
      parameters:
      - name: identifier
        in: path
        description: Either Takealot's Offer ID, the Barcode or your SKU for the offer. Prepend with ID, Barcode, or SKU. e.g. ID234, BARCODE3223, SKUDF22. Defaults to Offer ID.
        required: true
        schema:
          type: string
      tags:
      - Get an offer
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Offer'
            text/csv:
              schema:
                $ref: '#/components/schemas/V2Offer'
            application/pdf:
              schema:
                $ref: '#/components/schemas/V2Offer'
            text/html:
              schema:
                $ref: '#/components/schemas/V2Offer'
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Not Found Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
  /v2/offers/offer:
    get:
      operationId: get_offer_by_identifier_query_v2
      description: Retrieve information about an individual offer by providing an identifier for the offer
      summary: Get An Offer (v2)
      parameters:
      - name: identifier
        in: query
        description: Either Takealot's Offer ID, the Barcode or your SKU for the offer. Prepend with ID, Barcode, or SKU. e.g. ID234, BARCODE3223, SKUDF22. Defaults to Offer ID.
        required: true
        schema:
          type: string
      tags:
      - Get an offer
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Offer'
            text/csv:
              schema:
                $ref: '#/components/schemas/V2Offer'
            application/pdf:
              schema:
                $ref: '#/components/schemas/V2Offer'
            text/html:
              schema:
                $ref: '#/components/schemas/V2Offer'
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: Not Found Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    V2OfferLeadtimeStock:
      type: object
      properties:
        merchant_warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
    V2StockCover:
      type: object
      description: please note that 0 means there is no stock and hence no cover. -1 means there have been no sales units in the past 30 days hence stock cover cannot be determined.
      properties:
        warehouse_id:
          type: integer
        stock_cover_days:
          type: integer
    V2SalesUnits:
      type: object
      properties:
        warehouse_id:
          type: integer
        sales_units:
          type: integer
    V2OfferWarehouseStock:
      type: object
      properties:
        warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
    V2Offer:
      type: object
      properties:
        tsin_id:
          type: integer
        offer_id:
          type: integer
        sku:
          type: string
        barcode:
          type: string
        product_label_number:
          type: string
        selling_price:
          type: integer
        rrp:
          type: integer
        leadtime_days:
          type: integer
        leadtime_stock:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferLeadtimeStock'
        status:
          type: string
        title:
          type: string
        offer_url:
          type: string
        stock_cover:
          type: array
          items:
            $ref: '#/components/schemas/V2StockCover'
        sales_units:
          type: array
          items:
            $ref: '#/components/schemas/V2SalesUnits'
        discount:
          type: string
        discount_shown:
          type: boolean
        storage_fee_eligible:
          type: boolean
        date_created:
          type: string
        stock_at_takealot_total:
          type: integer
        total_excess_takealot_stock:
          type: integer
        stock_at_takealot:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferWarehouseStock'
        stock_on_way:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferWarehouseStock'
        total_stock_on_way:
          type: integer
        total_stock_cover:
          type: integer
        catalogue_quality_score:
          type: integer
