openapi: 3.2.0
info:
  title: Takealot Seller Get offers count API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get offers count
paths:
  /v2/offers/count:
    get:
      operationId: get_offers_count_v2
      description: Retrieve the total number of your offers on the Takealot platform (optionally filtered by offer status)
      summary: Get Offers Count (v2)
      parameters:
      - name: offer_statuses
        in: query
        description: A list of offer statuses to filter by. Example - ?offer_statuses=Buyable,Not Buyable
        schema:
          type: array
          items:
            type: string
            enum:
            - Buyable
            - Not Buyable
            - Disabled by Seller
            - Disabled by Takealot
      tags:
      - Get offers count
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            text/csv:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            application/pdf:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            text/html:
              schema:
                type: object
                properties:
                  count:
                    type: integer
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
