swagger: '2.0'
info:
  title: Takealot Seller Create a batch API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API. With this you will be able to manage your offers in an automated and scalable way.  Please ensure you have read the documentation for the Seller API, found at https://sellerportal.takealot.com/api, for an introduction and important information before attempting to use this API.  Please note that none of these requests are authorised if you are trying via the "try it out" button.  You will need to generate an API key and attach an Authorization header to each request in order to be correctly authorised against our API. This information can be found on the Seller Portal - https://seller.takealot.com/api/seller-api.  The below documentation describes each endpoint of the API.
  version: '2.0'
host: seller-api.takealot.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
- text/csv
- application/pdf
- text/html
tags:
- name: Create a batch
paths:
  /v2/offers/batch:
    post:
      operationId: create_batch_v2
      description: Create or update multiple offers by submitting a batch. Please note there is a 10k size limit - batches larger than this limit will be rejected.
      summary: Create A Batch (v2)
      parameters:
      - name: offers
        in: body
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/V2OfferBatchCreateUpdate'
          maxItems: 10000
      tags:
      - Create a batch
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/V2OfferBatch'
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '400':
          description: Bad Request Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '403':
          description: Forbidden Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '500':
          description: Server Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
definitions:
  V2OfferLeadtimeStock:
    type: object
    properties:
      merchant_warehouse:
        type: object
        properties:
          warehouse_id:
            type: integer
          name:
            type: string
      quantity_available:
        type: integer
  V2OfferBatch:
    type: object
    properties:
      batch_id:
        type: string
      status:
        type: object
        properties:
          description:
            type: string
          id:
            type: integer
      result:
        type: array
        items:
          type: object
          properties:
            validation_errors:
              type: array
              items:
                type: object
                properties:
                  message:
                    type: string
                  code:
                    type: string
            offer:
              type: object
              properties:
                selling_price:
                  type: integer
                rrp:
                  type: integer
                leadtime_days:
                  type: integer
                leadtime_stock:
                  type: array
                  items:
                    $ref: '#/definitions/V2OfferLeadtimeStock'
                stock_at_takealot:
                  type: array
                  items:
                    $ref: '#/definitions/V2OfferWarehouseStock'
                status:
                  type: string
                sku:
                  type: string
                offer_id:
                  type: integer
  V2OfferBatchCreateUpdate:
    type: object
    properties:
      offer_id:
        type: integer
        description: The unique ID of the offer
      sku:
        type: string
        description: The unique SKU of the offer - this can be used as an identifier or a field to update. Please send us a unique sku whose length is less than 256 characters.
      barcode:
        type: string
        description: The barcode that exists in Takealot's Catalogue - this can be used to create a new offer
      selling_price:
        type: integer
        description: The price at which the offer will sell for on Takealot (promotion prices will be prioitised). Please ensure you supply us with a positive whole number.
      rrp:
        type: integer
        description: The original price of the offer. Please ensure you supply us with a positive whole number.
      leadtime_days:
        type: integer
        description: The leadtime days of the offer. You can remove leadtime days from your offer by sending through -1.
      leadtime_stock:
        type: array
        description: The leadtime stock of the offer. Please ensure that the merchant_warehouse_id is correct, found at https://seller.takealot.com/api/seller-api/offers and send a positive whole number for the quantity.
        items:
          type: object
          properties:
            merchant_warehouse_id:
              type: integer
            quantity:
              type: integer
      status_action:
        type: string
        description: This allows you to set the status of the offer to 'Disabled by Seller' (by sending through Disable) or 'Buyable' or 'Not Buyable' (by sending through Re-enable), depending on what rules are satisfied.
        enum:
        - Disable
        - Re-enable
  V2OfferWarehouseStock:
    type: object
    properties:
      warehouse:
        type: object
        properties:
          warehouse_id:
            type: integer
          name:
            type: string
      quantity_available:
        type: integer
