openapi: 3.2.0
info:
  title: Takealot Seller Get stock health API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get stock health
paths:
  /{version}/offers/stock_health_stats:
    get:
      operationId: get_stock_health_stats
      description: Retrieve your stock health statistics
      summary: Get Various Statistics Regarding Your Stock Health
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      tags:
      - Get stock health
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  storage_fee_enabled_offer_count:
                    type: integer
            text/csv:
              schema:
                type: object
                properties:
                  storage_fee_enabled_offer_count:
                    type: integer
            application/pdf:
              schema:
                type: object
                properties:
                  storage_fee_enabled_offer_count:
                    type: integer
            text/html:
              schema:
                type: object
                properties:
                  storage_fee_enabled_offer_count:
                    type: integer
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
