openapi: 3.2.0
info:
  title: Takealot Seller view sales API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: view sales
paths:
  /{version}/sales:
    get:
      operationId: view_sales
      description: Get sales based on filters passed through
      summary: Retrieve Information About Your Sales On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      - name: filters
        in: query
        description: 'A list of search parameters (supported fields are start_date, end_date, sku, product_title, tsin, dc, customer_dc, sale_status, po_number, order_id, promotion) e.g. ?filters=sku:foo;title:bar

          '
        schema:
          type: array
          items:
            type: string
      - name: page_number
        in: query
        description: The page number to retrieve (starting at 1)
        schema:
          type: integer
      - name: page_size
        in: query
        description: The number of sales per page. Limited to 100.
        schema:
          type: integer
      tags:
      - view sales
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewSalesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/ViewSalesResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ViewSalesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ViewSalesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Sale:
      type: object
      properties:
        shipment_id:
          type:
          - integer
          - 'null'
        shipment_state_id:
          type:
          - integer
          - 'null'
        po_number:
          type:
          - integer
          - 'null'
        shipment_name:
          type:
          - string
          - 'null'
        offer_id:
          type: integer
        product_title:
          type: string
        takealot_url_mobi:
          type: string
        sku:
          type: string
        tsin:
          type: integer
        order_id:
          type: integer
        order_item_id:
          type: integer
        quantity:
          type: integer
        selling_price:
          type: number
        dc:
          type: string
        customer_dc:
          type: string
        order_date:
          type: string
        sale_status:
          type: boolean
        promotion:
          type:
          - boolean
          - 'null'
        customer:
          type: string
        stock_source_region:
          type: string
    PageSummary:
      type: object
      properties:
        page_size:
          type: integer
        page_number:
          type: integer
        total:
          type: integer
    ViewSalesResponse:
      type: object
      properties:
        page_summary:
          $ref: '#/components/schemas/PageSummary'
        sales:
          type: array
          items:
            $ref: '#/components/schemas/Sale'
    Error:
      type: object
      properties:
        fields:
          type: string
        message:
          type: string
        status:
          format: int32
          type: integer
