swagger: '2.0'
info:
  title: Takealot Seller Create a batch Get an offer API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API. With this you will be able to manage your offers in an automated and scalable way.  Please ensure you have read the documentation for the Seller API, found at https://sellerportal.takealot.com/api, for an introduction and important information before attempting to use this API.  Please note that none of these requests are authorised if you are trying via the "try it out" button.  You will need to generate an API key and attach an Authorization header to each request in order to be correctly authorised against our API. This information can be found on the Seller Portal - https://seller.takealot.com/api/seller-api.  The below documentation describes each endpoint of the API.
  version: '2.0'
host: seller-api.takealot.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
- text/csv
- application/pdf
- text/html
tags:
- name: Get an offer
paths:
  /v2/offers/offer/{identifier}:
    get:
      operationId: get_offer_by_identifier_v2
      description: Retrieve information about an individual offer by providing an identifier for the offer
      summary: Get An Offer (v2)
      parameters:
      - name: identifier
        in: path
        type: string
        description: Either Takealot's Offer ID, the Barcode or your SKU for the offer. Prepend with ID, Barcode, or SKU. e.g. ID234, BARCODE3223, SKUDF22. Defaults to Offer ID.
        required: true
      tags:
      - Get an offer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/V2Offer'
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '403':
          description: Forbidden Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '404':
          description: Not Found Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '500':
          description: Server Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
  /v2/offers/offer:
    get:
      operationId: get_offer_by_identifier_query_v2
      description: Retrieve information about an individual offer by providing an identifier for the offer
      summary: Get An Offer (v2)
      parameters:
      - name: identifier
        in: query
        type: string
        description: Either Takealot's Offer ID, the Barcode or your SKU for the offer. Prepend with ID, Barcode, or SKU. e.g. ID234, BARCODE3223, SKUDF22. Defaults to Offer ID.
        required: true
      tags:
      - Get an offer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/V2Offer'
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '403':
          description: Forbidden Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '404':
          description: Not Found Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
        '500':
          description: Server Error
          schema:
            type: object
            properties:
              message:
                type: string
          headers:
            x-RateLimit-Limit:
              type: integer
            x-RateLimit-Remaining:
              type: integer
            x-RateLimit-Reset:
              type: string
definitions:
  V2StockCover:
    type: object
    description: please note that 0 means there is no stock and hence no cover. -1 means there have been no sales units in the past 30 days hence stock cover cannot be determined.
    properties:
      warehouse_id:
        type: integer
      stock_cover_days:
        type: integer
  V2SalesUnits:
    type: object
    properties:
      warehouse_id:
        type: integer
      sales_units:
        type: integer
  V2Offer:
    type: object
    properties:
      tsin_id:
        type: integer
      offer_id:
        type: integer
      sku:
        type: string
      barcode:
        type: string
      product_label_number:
        type: string
      selling_price:
        type: integer
      rrp:
        type: integer
      leadtime_days:
        type: integer
      leadtime_stock:
        type: array
        items:
          $ref: '#/definitions/V2OfferLeadtimeStock'
      status:
        type: string
      title:
        type: string
      offer_url:
        type: string
      stock_cover:
        type: array
        items:
          $ref: '#/definitions/V2StockCover'
      sales_units:
        type: array
        items:
          $ref: '#/definitions/V2SalesUnits'
      discount:
        type: string
      discount_shown:
        type: boolean
      storage_fee_eligible:
        type: boolean
      date_created:
        type: string
      stock_at_takealot_total:
        type: integer
      total_excess_takealot_stock:
        type: integer
      stock_at_takealot:
        type: array
        items:
          $ref: '#/definitions/V2OfferWarehouseStock'
      stock_on_way:
        type: array
        items:
          $ref: '#/definitions/V2OfferWarehouseStock'
      total_stock_on_way:
        type: integer
      total_stock_cover:
        type: integer
      catalogue_quality_score:
        type: integer
  V2OfferWarehouseStock:
    type: object
    properties:
      warehouse:
        type: object
        properties:
          warehouse_id:
            type: integer
          name:
            type: string
      quantity_available:
        type: integer
  V2OfferLeadtimeStock:
    type: object
    properties:
      merchant_warehouse:
        type: object
        properties:
          warehouse_id:
            type: integer
          name:
            type: string
      quantity_available:
        type: integer
