openapi: 3.2.0
info:
  title: Takealot Seller Get offers API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get offers
paths:
  /v2/offers:
    get:
      operationId: get_offers_v2
      description: Retrieve information about your offers on the Takealot platform
      summary: Get All Offers (v2)
      parameters:
      - name: page_number
        in: query
        description: The page number to retrieve (starting at 1).
        schema:
          type: integer
      - name: page_size
        in: query
        description: The number of offers per page. Limited to 100.
        schema:
          type: integer
      - name: filters
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: array
          items:
            type: string
      - name: sort_key
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: string
          enum:
          - offer_id
          - title
          - seller_stock
          - sales_units
          - stock_cpt
          - stock_jhb
          - stock_total
          - stock_cover_cpt
          - stock_cover_jhb
          - selling_price
          - shipping_min
          - merchant_warehouse_id
          - replen_block
      - name: sort_dir
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
      - name: secondary_sort_key
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: string
          enum:
          - title
      - name: secondary_sort_dir
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: string
          enum:
          - asc
          - desc
          - ASC
          - DESC
      - name: is_filtered
        in: query
        description: This field has been deprecated. Please do not use it.
        schema:
          type: boolean
      - name: offer_ids
        in: query
        description: A list of offer ids to retrieve.
        schema:
          type: array
          items:
            type: integer
      tags:
      - Get offers
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Offers'
            text/csv:
              schema:
                $ref: '#/components/schemas/V2Offers'
            application/pdf:
              schema:
                $ref: '#/components/schemas/V2Offers'
            text/html:
              schema:
                $ref: '#/components/schemas/V2Offers'
        '400':
          description: Bad Request Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
components:
  schemas:
    V2Offers:
      type: object
      properties:
        total_results:
          type: integer
        page_size:
          type: integer
        page_number:
          type: integer
        offers:
          type: array
          items:
            $ref: '#/components/schemas/V2Offer'
    V2OfferLeadtimeStock:
      type: object
      properties:
        merchant_warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
    V2StockCover:
      type: object
      description: please note that 0 means there is no stock and hence no cover. -1 means there have been no sales units in the past 30 days hence stock cover cannot be determined.
      properties:
        warehouse_id:
          type: integer
        stock_cover_days:
          type: integer
    V2SalesUnits:
      type: object
      properties:
        warehouse_id:
          type: integer
        sales_units:
          type: integer
    V2OfferWarehouseStock:
      type: object
      properties:
        warehouse:
          type: object
          properties:
            warehouse_id:
              type: integer
            name:
              type: string
        quantity_available:
          type: integer
    V2Offer:
      type: object
      properties:
        tsin_id:
          type: integer
        offer_id:
          type: integer
        sku:
          type: string
        barcode:
          type: string
        product_label_number:
          type: string
        selling_price:
          type: integer
        rrp:
          type: integer
        leadtime_days:
          type: integer
        leadtime_stock:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferLeadtimeStock'
        status:
          type: string
        title:
          type: string
        offer_url:
          type: string
        stock_cover:
          type: array
          items:
            $ref: '#/components/schemas/V2StockCover'
        sales_units:
          type: array
          items:
            $ref: '#/components/schemas/V2SalesUnits'
        discount:
          type: string
        discount_shown:
          type: boolean
        storage_fee_eligible:
          type: boolean
        date_created:
          type: string
        stock_at_takealot_total:
          type: integer
        total_excess_takealot_stock:
          type: integer
        stock_at_takealot:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferWarehouseStock'
        stock_on_way:
          type: array
          items:
            $ref: '#/components/schemas/V2OfferWarehouseStock'
        total_stock_on_way:
          type: integer
        total_stock_cover:
          type: integer
        catalogue_quality_score:
          type: integer
