swagger: '2.0'
info:
  title: Takealot Seller Create a batch view sales API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API. With this you will be able to manage your offers in an automated and scalable way.  Please ensure you have read the documentation for the Seller API, found at https://sellerportal.takealot.com/api, for an introduction and important information before attempting to use this API.  Please note that none of these requests are authorised if you are trying via the "try it out" button.  You will need to generate an API key and attach an Authorization header to each request in order to be correctly authorised against our API. This information can be found on the Seller Portal - https://seller.takealot.com/api/seller-api.  The below documentation describes each endpoint of the API.
  version: '2.0'
host: seller-api.takealot.com
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
- text/csv
- application/pdf
- text/html
tags:
- name: view sales
paths:
  /{version}/sales:
    get:
      operationId: view_sales
      description: Get sales based on filters passed through
      summary: Retrieve Information About Your Sales On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        type: string
        description: The major version of the API, prepended with a v (e.g. v1)
      - name: filters
        in: query
        description: 'A list of search parameters (supported fields are start_date, end_date, sku, product_title, tsin, dc, customer_dc, sale_status, po_number, order_id, promotion) e.g. ?filters=sku:foo;title:bar

          '
        type: array
        items:
          type: string
      - name: page_number
        in: query
        type: integer
        description: The page number to retrieve (starting at 1)
      - name: page_size
        in: query
        type: integer
        description: The number of sales per page. Limited to 100.
      tags:
      - view sales
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ViewSalesResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Error:
    type: object
    properties:
      fields:
        type: string
      message:
        type: string
      status:
        format: int32
        type: integer
  PageSummary:
    type: object
    properties:
      page_size:
        type: integer
      page_number:
        type: integer
      total:
        type: integer
  Sale:
    type: object
    properties:
      shipment_id:
        type: integer
        x-nullable: true
      shipment_state_id:
        type: integer
        x-nullable: true
      po_number:
        type: integer
        x-nullable: true
      shipment_name:
        type: string
        x-nullable: true
      offer_id:
        type: integer
      product_title:
        type: string
      takealot_url_mobi:
        type: string
      sku:
        type: string
      tsin:
        type: integer
      order_id:
        type: integer
      order_item_id:
        type: integer
      quantity:
        type: integer
      selling_price:
        type: number
      dc:
        type: string
      customer_dc:
        type: string
      order_date:
        type: string
      sale_status:
        type: boolean
      promotion:
        type: boolean
        x-nullable: true
      customer:
        type: string
      stock_source_region:
        type: string
  ViewSalesResponse:
    type: object
    properties:
      page_summary:
        $ref: '#/definitions/PageSummary'
      sales:
        type: array
        items:
          $ref: '#/definitions/Sale'
