openapi: 3.2.0
info:
  title: Takealot Seller view sales orders API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: view sales orders
paths:
  /{version}/sales/orders:
    get:
      operationId: get_sales_orders
      description: Get sales orders based on filters passed through
      summary: Retrieve Information About Your Sales Orders On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      - name: start_date
        in: query
        description: The start date for filtering orders
        required: true
        schema:
          type: string
      - name: end_date
        in: query
        description: The end date for filtering orders
        required: true
        schema:
          type: string
      - name: sku
        in: query
        description: The SKU for filtering orders
        schema:
          type: string
      - name: product_title
        in: query
        description: The product title for filtering orders
        schema:
          type: string
      - name: tsin
        in: query
        description: The TSIN for filtering orders
        schema:
          type: integer
      - name: order_id
        in: query
        description: The order ID for filtering orders
        schema:
          type: integer
      - name: page_number
        in: query
        description: The page number to retrieve (starting at 1)
        schema:
          type: integer
      - name: page_size
        in: query
        description: The number of sales per page. Limited to 100.
        schema:
          type: integer
      tags:
      - view sales orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ViewSalesOrdersResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/ViewSalesOrdersResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/ViewSalesOrdersResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/ViewSalesOrdersResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
  /{version}/sales/orders/{order_id}/customer_invoices:
    get:
      operationId: get_sales_order_customer_invoices_credit_notes
      description: Get sales orders based on filters passed through
      summary: Retrieve Information About Your Sales Orders On The Takealot Platform
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      - name: order_id
        in: path
        description: The start date for filtering orders
        required: true
        schema:
          type: integer
      tags:
      - view sales orders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerInvoicesResponse'
            text/csv:
              schema:
                $ref: '#/components/schemas/CustomerInvoicesResponse'
            application/pdf:
              schema:
                $ref: '#/components/schemas/CustomerInvoicesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/CustomerInvoicesResponse'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/csv:
              schema:
                $ref: '#/components/schemas/Error'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Error'
            text/html:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    ViewSalesOrdersResponse:
      type: object
      properties:
        page_summary:
          $ref: '#/components/schemas/PageSummary'
        sales:
          type: array
          items:
            $ref: '#/components/schemas/Sale'
    Sale:
      type: object
      properties:
        shipment_id:
          type:
          - integer
          - 'null'
        shipment_state_id:
          type:
          - integer
          - 'null'
        po_number:
          type:
          - integer
          - 'null'
        shipment_name:
          type:
          - string
          - 'null'
        offer_id:
          type: integer
        product_title:
          type: string
        takealot_url_mobi:
          type: string
        sku:
          type: string
        tsin:
          type: integer
        order_id:
          type: integer
        order_item_id:
          type: integer
        quantity:
          type: integer
        selling_price:
          type: number
        dc:
          type: string
        customer_dc:
          type: string
        order_date:
          type: string
        sale_status:
          type: boolean
        promotion:
          type:
          - boolean
          - 'null'
        customer:
          type: string
        stock_source_region:
          type: string
    PageSummary:
      type: object
      properties:
        page_size:
          type: integer
        page_number:
          type: integer
        total:
          type: integer
    Error:
      type: object
      properties:
        fields:
          type: string
        message:
          type: string
        status:
          format: int32
          type: integer
    CustomerInvoicesResponse:
      type: object
      properties:
        documents:
          type: array
          items:
            type: object
            properties:
              document_id:
                type: integer
              document_date:
                type: string
              document_type:
                type: string
              document_reason:
                type: string
              file_name:
                type: string
              downloadable:
                type: boolean
