openapi: 3.2.0
info:
  title: Takealot Seller Get stock counts API
  description: The Takealot Seller API for Offers represents the initial phase of the Seller API.
  version: '2.0'
servers:
- url: https://seller-api.takealot.com/
tags:
- name: Get stock counts
paths:
  /{version}/offers/stock_counts:
    get:
      operationId: get_total_and_unbalanced_stock_at_tal_counts
      description: Retrieve the total number of your offers that have stock at Takealot, as well as the number of offers that have an unbalanced stock level at Takealot
      summary: Get Count Of Offers With Stock At Takealot And Unbalanced Stock At Takealot
      parameters:
      - name: version
        in: path
        required: true
        description: The major version of the API, prepended with a v (e.g. v1)
        schema:
          type: string
      tags:
      - Get stock counts
      responses:
        '200':
          description: OK
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            text/csv:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            application/pdf:
              schema:
                type: object
                properties:
                  count:
                    type: integer
            text/html:
              schema:
                type: object
                properties:
                  count:
                    type: integer
        '403':
          description: Forbidden Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Server Error
          headers:
            x-RateLimit-Limit:
              schema:
                type: integer
            x-RateLimit-Remaining:
              schema:
                type: integer
            x-RateLimit-Reset:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/csv:
              schema:
                type: object
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                type: object
                properties:
                  message:
                    type: string
            text/html:
              schema:
                type: object
                properties:
                  message:
                    type: string
